extends ./../layout

block content
  .explore(data-menu="explore", data-menu-fixed="false")

    block submenu

    .sub_header(data-view="components/fixed_bar")
      ul.centered
        li.sub_header_sets
          a(href="/explore" title="Sets")
            .icon.ss-music 
            span Listen
        li.sub_header_people
          a(href="/explore/people" title="People")
            span.icon.ss-users
            span People

    .explore_content.flex.centered(data-view="explore")
      .flex_sidebar.genres_list
        - klass = ""
        if current_genre.length <= 0
          - klass = "selected"
        a(
          class="#{klass}" 
          title="All genres", 
          href="#{url}", 
          data-nav-load=".flex_content.rooms_grid > .inner",
          data-genre-id=""
        ) All genres

        each g in genres
          - g_url = url + "?genres=" + encodeURIComponent( g )
          - klass = ""
          if current_genre == g
            - klass = "selected"
          a(
            class="#{klass}", 
            style='text-transform:capitalize',
            title="#{g}",
            href="#{g_url}", 
            data-nav-load=".flex_content.rooms_grid > .inner",
            data-genre-id="#{g}"
          ) #{g}


      .flex_content.rooms_grid
        .loading
        .inner
          input(type="hidden", name="current_genre", value="#{current_genre}")
          block grid