extends ./_explore

block seo
    title Listen to Live DJ Mixes and Podcasts | Loopcast
    meta( name="description" content="Explore live DJ mixes on Loopcast. Chat with other listeners and follow your favourite DJs" ) 


block submenu
  span(data-submenu="sub_header_rooms")



block grid

  for item in rooms    
    - klasses = "item-all-genres"
    for g in item.info.genres
      - klasses += " item-" + slugify(g)


    if item.status.is_live
      - klasses += " is_live"

    else if item.status.recording.started_at
      - klasses += " is_recorded"
    .room_cell.item(class="#{klasses}", data-view="components/audio/player_preview",data-room-id="#{item._id}")
      a(href="#", title="#{item.info.title}", class="thumb_wrapper") 
        img.room_thumb(src="#{transform.explore_thumb(item.info.cover_url)}")
        
        span.recorded Recorded
        span.now_live Now Live

        span.icon.ss-play.circle_icon

        .share_wrapper(data-view="buttons/share", data-permalink="/#{item.info.user}/#{item.info.slug}")
          a.yellow.ss-action(href="#", title="Share")
          //- span.spritesheet.room_play
      .room_content
        .text
          h2.room_title 
            a(href="/#{item.info.user}/#{item.info.slug}", title="#{item.info.title}") #{item.info.title}
          a.room_subtitle.blue(title="#{item.info.user}", href="/#{item.info.user}/#{item.info.slug}") #{item.info.user}
          .genres.small
            for g in item.info.genres
              a.tag(href="?genres=#{g}", title="#{g}", data-genre-id="#{g}") #{g}

          p.room_location
            //- span.spritesheet.icon_location 
            a(href="/explore?search=#{item.info.location}")
              span.icon.ss-location
              | #{item.info.location}

        a.enter_room(href="/#{item.info.user}/#{item.info.slug}", class="button yellow_button no_shadow small_button small_button_2", title="Enter Room") Enter Room


  script
    //- THIS IS JUST FOR DEBUGGIN. TO BE REMOVED
    | var data = !{JSON.stringify(locals)};;
    | console.log( 'explore data', data ); 
    | console.log( 'room to check', data.rooms[7] );