block seo
    title Listen to Live DJ Mixes and Podcasts | Loopcast
    meta( name="description" content="Explore live DJ mixes on Loopcast. Chat with other listeners and follow your favourite DJs" ) 

extends ./_explore

block submenu
  span(data-submenu="sub_header_rooms")

    
block grid

  for item in rooms    
    - klasses = "item-all-genres"
    for g in item.info.genres
      - klasses += " item-" + slugify(g)


    if item.status.is_live
      - klasses += " is_live"
    .room_cell.item(class="#{klasses}", data-view="components/audio/player_preview")
      a(href="/#{item.info.user}/#{item.info.slug}", title="#{item.info.title}", class="thumb_wrapper") 
        img.room_thumb(src="#{item.info.images.explore_thumb}")
        
        span.now_live Now Live

        span.icon.ss-play.circle_icon

        .share_wrapper(data-view="buttons/share", data-permalink="/#{item.info.user}/#{item.info.slug}")
          a.yellow.ss-action(href="#", title="Share")
          //- span.spritesheet.room_play
      .room_content
        .text
          h2.room_title 
            a(href="/#{item.info.user}/#{item.info.slug}", title="#{item.info.title}") #{item.info.title}
          a.room_subtitle.blue(title="#{item.info.user}", href="/#{item.info.user}/#{item.info.slug}") #{item.info.user}
          .genres.small
            for g in item.info.genres
              a.tag(href="?genres=#{g}", title="#{g}", data-genre-id="#{g}") #{g}

          p.room_location
            //- span.spritesheet.icon_location 
            span.icon.ss-location
            | #{item.info.location}

        a.enter_room(href="/#{item.info.user}/#{item.info.slug}", class="button yellow_button no_shadow small_button small_button_2", title="Enter Room") Enter Room


  script
    //- THIS IS JUST FOR DEBUGGIN. TO BE REMOVED
    | var data = !{JSON.stringify(locals)};;
    | console.log( 'explore data', data ); 