block seo
    title Explore Trending Users on Loopcast | Loopcast
    meta( name="description" content=" " ) 

extends ./_explore

block submenu
  span(data-submenu="sub_header_people")

block grid

  for item in people

    - klasses = "item-all-genres"
    for g in item.genres
      - klasses += " item-" + slugify(g)

    if item.following
      - klasses += " following"

    .room_cell.item(class="#{klasses}", data-view="components/audio/player_preview")
      a(href="/#{item.id}", title="#{item.name}", class="thumb_wrapper") 
        img.room_thumb(src="#{item.images.explore_thumb}")
        span.icon.ss-play.circle_icon

      .room_content
        .text
          h2.room_title 
            a(href="/#{item.id}", title="#{item.name}") #{item.name}
          p.room_subtitle #{item.kind}
          .genres.small
            for g in item.genres
              a.tag(href="?genres=#{g}", title="#{g}", data-genre-id="#{g}") #{g}

          if item.location
            p.room_location
              //- span.spritesheet.icon_location 
              span.icon.ss-location
              | #{item.location}

        a.enter_room.not_following_item(href="/#{item.id}", class="button yellow_button no_shadow small_button small_button_2", title="Follow") Follow
        a.enter_room.following_item(href="/#{item.id}", class="button gray_button_2 no_shadow small_button small_button_2", title="Follow") Following


  script
    //- THIS IS JUST FOR DEBUGGIN. TO BE REMOVED
    //- | var data = !{JSON.stringify(locals)};;
    //- | console.log( 'people data', data.people[0] ); 
