extends ./_explore

block submenu
  span(data-submenu="sub_header_people")

block grid

  for item in people

    - klasses = "item-all-genres"
    for g in item.genres
      - klasses += " item-" + slugify(g)

    if item.following
      - klasses += " following"

    .room_cell.item(class="#{klasses}")
      a(href="#{item.url}", title="#{item.author}", class="thumb_wrapper") 
        img.room_thumb(src="#{item.thumb}")
      .room_content
        .text
          h2.room_title 
            a(href="#{item.url}", title="#{item.author}") #{item.author}
          p.room_subtitle #{item.kind}
          .genres.small
            for g in item.genres
              a.tag(href="#", title="#{g}", data-genre-id="#{g}") #{g}

          p.room_location
            span.spritesheet.icon_location 
            | #{item.location}
          p.now_live Now Live

        a.enter_room.not_following_item(href="#{item.url}", class="button yellow_button no_shadow small_button small_button_2", title="Follow") Follow
        a.enter_room.following_item(href="#{item.url}", class="button gray_button_2 no_shadow small_button small_button_2", title="Follow") Following