.message
  .inner
    a.img_wrapper_2(href="#{user.url}", title="#{user.name}", data-username="#{user.username}")
      if like
        span.icon.ss-heart
      else
        img(src="#{user.thumb}")
    .text
      h4.name
        a(href="#{user.url}", title="#{user.name}") #{user.name}
        span.dash &nbsp;-&nbsp; 
        span.time(data-livestamp="#{time}")

      p.content !{message}

    if user.author
      span.spritesheet.headphone