.img_wrapper(id="listener_#{socket_id}", data-id="#{socket_id}")
  if url
    a(href="#{url}", title="#{name}")
      img(src="#{images.chat_sidebar}", data-id="#{socket_id}", width="55", height="55")
  else
    img(src="#{images.chat_sidebar}", data-id="#{socket_id}", width="55", height="55")