header(data-view="header")
	.background
	.centered
		.left
			a.homepage_item.menu_item(href="/" class="menu_logo" title="Loopcast Logo")
				span.spritesheet(class="sprite_small_logo") Loopcast Logo
			a.explore_item.menu_item(href="/rooms" title="Explore") Explore
			a.create_room_item.menu_item(href="/profile" title="Create Room") Create Room
			.search_box.no_border

				span.spritesheet.header_search_icon
				form
					input.dark_input(type="text" name="search" placeholder="Search...")


		.right
			//- a(href="#" title="Sign Up") Sign Up
			.user_logged

			a.login_link(
				href="javascript:;", 
				title="Log In", 
				data-view="components/popup_handler", 
				data-url="/login" 
				data-title="Log In ~ Loopcast"
				data-w="500"
				data-h="400"
			) Log In
			div.settings.hover_dropdown_trigger(href="javascript:;", title="Settings", data-view="components/click_trigger" data-target=".settings_dropdown")
				span.spritesheet.header_settings

				ul.settings_dropdown.hover_dropdown
					li
						a(href="#" title="About Loopcast") About Loopcast
					li
						a(href="#" title="Help") Help
					li
						a(href="#" title="Blog") Blog
					li
						a(href="#" title="Advertising") Advertising
					li
						a(href="#" title="Privacy") Privacy
					li
						a(href="#" title="Terms of use") Terms of use
		
