header(data-view="header")
	.background
	.centered
		.left
			a(href="/" class="menu_logo" title="Loopcast Logo")
				span.spritesheet(class="sprite_small_logo") Loopcast Logo
			a(href="/people" title="Explore") Explore
			a(href="/rooms" title="Create Room") Create Room
			.search_box.no_border

				span.spritesheet.header_search_icon
				form
					input.dark_input(type="text" name="search" placeholder="Search...")


		.right
			//- a(href="#" title="Sign Up") Sign Up
			.user_logged

			a.login_link(
				href="javascript:;", 
				title="Log In", 
				data-view="components/popup_handler", 
				data-url="/login" 
				data-title="Log In ~ Loopcast"
				data-w="400"
				data-h="300"
			) Log In
			div.settings(href="javascript:;", title="Settings", data-view="components/hover_trigger" data-target=".settings_dropdown")
				span.spritesheet.header_settings

	.centered.second
		ul.settings_dropdown
			li
				a(href="#" title="About Loopcast") About Loopcast
			li
				a(href="#" title="Help") Help
			li
				a(href="#" title="Blog") Blog
			li
				a(href="#" title="Advertising") Advertising
			li
				a(href="#" title="Privacy") Privacy
			li
				a(href="#" title="Terms of use") Terms of use
