extends ./_explore

block seo
    title Listen to Live DJ Mixes and Podcasts | Loopcast
    meta( name="description" content="Explore live DJ mixes on Loopcast. Chat with other listeners and follow your favourite DJs" )
    meta( property="og:url" content="#{s.base_path}/explore" )
    meta( property="og:title" content="Listen to Live DJ Mixes and Podcasts | Loopcast" )
    meta( property="og:description" content="Explore live DJ mixes on Loopcast. Chat with other listeners and follow your favourite DJs" )
    meta( name="twitter:title" content="Listen to Live DJ Mixes and Podcasts | Loopcast")
    meta( name="twitter:description" content="Explore live DJ mixes on Loopcast. Chat with other listeners and follow your favourite DJs")    



block grid
  .container
    .arrows
      a(href="").prevSlide.arrow
        img(src="images/arrow_white_left.svg", alt="Previous Slide")
      a(href="").nextSlide.arrow
        img(src="images/arrow_right_white.svg", alt="Next Slide")
    .pagination

    .swiper-container
      .swiper-wrapper

        for item in rooms

          - klasses = "item-all-genres"

          - url         = "/"+ item.user.info.username + "/" + item.info.slug
          - sharing_url = url
          - author_url  = "/"+ item.user.info.username
          - cover_url   = item.info.cover_url || item.user.info.avatar

          if !item.status.is_live
            - url = "#"

          //- - console.log( "[-------------]", item.info.genres )
          //- for g in item.info.genres
          //-   - console.log( slugify(g) )
          //- - klasses += " item-" + slugify(g)

          if item.status.is_live
            - klasses += " is_live"
          else
            - klasses += " not_live"

          //- only show as "is_recorded" after file has been uploaded to S3
          if item.status.recording.s3 && !item.status.is_live
            - klasses += " is_recorded"

          .room_cell.item(class="#{klasses}", data-view="components/audio/player_preview", data-room-id="#{item._id}" data-is-live="#{item.status.is_live}")
            if item.status.is_live
              hidden( class="source_src" value="#{item.info.url}")
            else
              if item.status.is_recorded
                hidden( class="source_src" value="#{item.info.file}")

                  
            a(href="#{url}", title="#{item.info.title}", class="thumb_wrapper") 
              img.room_thumb.for_desktop(src="#{transform.explore_thumb(cover_url)}")

              span.icon.ss-play.circle_icon
              .loading_spin

              .share_wrapper(
                data-view="buttons/share", 
                data-title="#{item.info.title}",
                data-summary="#{item.info.about}",
                data-permalink="#{sharing_url}",
                data-image="#{item.info.cover_url}"
              )
                a.yellow.ss-action(href="#", title="Share")

            .room_content
              .text
                h2.room_title
                  a(href="#{url}", title="#{item.info.title}") #{item.info.title}
                a.room_subtitle.blue(title="#{item.user.info.name}", href="#{author_url}") #{item.user.info.name}

  script
    //- THIS IS JUST FOR DEBUGGIN. TO BE REMOVED
    | var data = !{JSON.stringify(locals)};;
    | console.log( 'explore data', data );  
