.inner
  a.img_wrapper(href="#{url}", title="#{name}")
    img(src="#{images.chat_sidebar_popup}", alt="#{name}", width="84")

  h3.name 
    a(href="#{url}", title="#{name}") #{name}

  p.occupation #{occupation}
  p.followers
    span.number #{likes}
    |  FOLLOWERS


