block seo
  title Loopcast | About
  meta( name="description" content="Stream, record and save your DJ mixes instantly. Create your own room, interact with your audience and see who’s listening in real time." ) 

extends layout

block content
  .centered.about_page
    .white_box
      h1.about_title #{title}

      .about_content
        p.about_description #{description}

        for col in columns
          .about_column
            img(width="200", src="/images/#{col.icon}")

            h4 #{col.title}
            p #{col.text}

        .clear

        h2.about_title Sound good?
        a.button.save_button.normal_button_2(href="#", title="Go live now") Go live now
