extends layout

block content

	.landing.parallax-container(
		data-view="components/fullscreen",
		data-factor="1",
		data-parallax="scroll",
		data-bleed="10",
		data-image-src="/images/homepage.jpg"
	)

		.centered
			.black_box
				.background
				.content
					span.spritesheet.medium_white_logo
					h1 
						| Stream Live.
						br
						| Anywhere.
						br
						| Anytime.

					p.yellow Loopcast is the latest frontier in live music streaming. Play, record and save any live moment you have in virtual rooms.

					.buttons
						a.button.yellow_button.no_shadow.left(title="Create live room") Create live room
						a.button.white_transparent_button.no_shadow.right(title="Explore live music") Explore live music

		.scroll_down(data-view="components/scroll_handler" data-target=".landing_2")
			p Scroll down to learn more
			span.spritesheet.sprite_arrow_down_white

	.landing_2.secondary_screen(
		class="parallax-container",
		data-view="components/fullscreen", 
		data-factor="1.07",
		data-parallax="scroll",
		data-bleed="10",
		data-image-src="/images/homepage_2.jpg"
	)
		.centered
			.black_box
				.background
				.content
					h1 Stream your Music to the World
					p Create your own virtual rooms, connect with any third party software or hardware and stream your music live for friends, fans and followers everywhere. Record and save your live sessions to your profile, allowing your audience to go back and re-experience their favourite moments.



	div.landing_3.secondary_screen.parallax-container(
		data-view="components/fullscreen", 
		data-factor="1.03",
		data-parallax="scroll",
		data-bleed="10",
		data-image-src="/images/homepage_3.jpg"
	)

		.centered
			.black_box
				.background
				.content
					h1 Explore and Experience
					p Browse through your favourite genres, find the music you love and interact with whoever is playing it. Give them real-time feedback and follow the best DJs and radio presenters
					a.button.yellow_button.no_shadow(title="Join Loopcast now") Join Loopcast now