extends layout

block content
  .explore(data-menu="explore")
    .sub_header
      ul.centered
        li
          a(href="/rooms" title="Rooms") 
            span.spritesheet.rooms_icon
            span Rooms
        li.selected
          p
            span.spritesheet.people_icon
            span People
        li
          a(href="#" title="Sets")
            span.spritesheet.sets_icon
            span Sets


    .explore_content.flex.centered(data-view="rooms")
      .flex_sidebar.genres_list
        a.selected(title="All genres", href="#", data-genre-id="all-genres") All genres
        each val, key in genres
          a(title="#{val}" href="#", data-genre-id="#{key}") #{val}


      .flex_content.rooms_grid

        for person in people

          - klasses = "item-all-genres"
          for g in person.genres
            - klasses += " item-" + g 

          if person.following
            - klasses += " following"

          .room_cell.item(class="#{klasses}")
            a(href="#{person.url}", title="#{person.author}", class="thumb_wrapper") 
              img.room_thumb(src="#{person.thumb}")
            .room_content
              .text
                h2.room_title 
                  a(href="#{person.url}", title="#{person.author}") #{person.author}
                p.room_subtitle #{person.kind}
                .genres.small
                  for g in person.genres
                    a.tag(href="#", title="#{g}", data-genre-id="#{g}") #{genres[g]}

                p.room_location
                  span.spritesheet.icon_location 
                  | #{person.location}
                p.now_live Now Live

              a.enter_room.not_following_item(href="#{person.url}", class="button yellow_button no_shadow small_button small_button_2", title="Follow") Follow
              a.enter_room.following_item(href="#{person.url}", class="button gray_button_2 no_shadow small_button small_button_2", title="Follow") Following
    
  //- h4 people

  //- ul
  //-   for person in people
  //-     li 
  //-      a( href="#{person.id}") #{person.author}
       
  //-      .kind  : #{person.kind}