extends layout

block content
  h1 #{profile.name}

  br
  br
    
  ul
    for genre in profile.genres
      li #{genre}

  .player(data-view="components/player")
    audio( controls autoplay src="http://radio.loopcast.fm:8000/#{profile.id}" )

  if live
    br
    br
    
    h4 live

    h3 #{live.name}

  br
  br
    
  h4 recorded

  ul
    for room in profile.recorded
      li 
        pre
          | title : #{room.title}
          | author: #{room.author}
          | ---

  //- only appears if it's own user profile, like
  //- when user.id == profile.id
  .controls

    .devices
      select(id="input_devices" data-view="components/input_devices")
        option(value="test")

    .streaming
      button.start_streaming
      button.stop_streaming

    .recording
      button.start_recording
      button.stop_recording