block seo
  title Loopcast | Stream live from anywhere at anytime 
  meta( name="description" content="Stream, record and save your DJ mixes instantly. Create your own room, interact with your audience and see who’s listening in real time." ) 

extends layout

block content
  .profile_theme.centered.no_information_yet(data-menu="profile", data-view="profile")
    .cover
      .cover_image(style="background-image:url(/images/homepage_2.jpg)")
      .content
        h1.name.black_background(data-view="components/editables/editable_text")
          span.text #{profile.name}
        br
        h3.type.black_background(data-view="components/editables/editable_select")
          span.text Select Profession
        br
        .genres.black_background(data-view="components/editables/editable_profile_tags")
          span.text #{profile.genres.join( ", " )}

        .profile_image.upload_wrapper(data-view="components/image_uploader", data-id="profile_picture")
          img(src="#{profile.avatar}")
          p.upload_element.edit_image
            span.icon.ss-camera
            span Update profile picture
            span.progress

            form.element_on_write_mode(class="cloudinary_form")
              input.api_key(type="hidden", name="api_key", value="#{cloudinary.api_key}")
              input.cloud_name(type="hidden", name="cloud_name", value="#{cloudinary.cloud_name}")
              input.unsigned_id(type="hidden", name="unsigned_id", value="#{cloudinary.unsigned_ids.profile}")



          

        .sidebar_right
          .big_number
            .inner
              span.number #{profile.followers}
              span.text Followers

          .big_number
            .inner
              span.number #{profile.streams}
              span.text Streams 

          .big_number
            .inner
              span.number #{profile.listeners}
              span.text 
                | Listeners 
                br
                | 

        a.cover_button.button_with_icon.element_on_read_mode(href="#", data-profile="set-write-mode")
          //- span.spritesheet.edit_icon
          span.icon.ss-write
          span Edit Profile

        a.cover_button.button_with_icon.element_on_write_mode(href="#", data-profile="set-read-mode")
          //- span.spritesheet.edit_icon
          span.icon.ss-write
          span Save Profile

        .change_cover.upload_wrapper(data-view="components/image_uploader", data-id="profile_cover")
          a.upload_element.button_with_icon.black_button.element_on_write_mode(href="#", data-profile="set-write-mode")
            span.icon.ss-camera
            span Change Cover
            span.progress

          form.element_on_write_mode(class="cloudinary_form")
            input.api_key(type="hidden", name="api_key", value="#{cloudinary.api_key}")
            input.cloud_name(type="hidden", name="cloud_name", value="#{cloudinary.cloud_name}")
            input.unsigned_id(type="hidden", name="unsigned_id", value="#{cloudinary.unsigned_ids.cover}")

    .profile_content
      .profile_left
        .profile_bio.outline_box
          .profile_bio_without_information.element_on_read_mode
            .text
              p 1. Add your location
              p 2. Add your bio
              p 3. Add your social links

            a.rounded_border.big.add_information(href="#", data-profile="set-write-mode")
              span.icon.ss-write
              | Add

          .element_on_read_mode.profile_bio_with_information
            a.outline_icon(href="#", title="Edit Profile", data-profile="set-write-mode")
              //- span.spritesheet.edit_icon
              span.icon.ss-write
            h4.location
            .bio 

            .social
              a.spotify_link(href="#" title="Spotify", target="_blank")
                .spritesheet.profile_spotify
              a.soundcloud_link(href="#" title="Soundcloud", target="_blank")
                .spritesheet.profile_soundcloud
              a.facebook_link(href="#" title="Facebook", target="_blank")
                .spritesheet.profile_facebook

          form.element_on_write_mode.profile_form
            input.squared_input.location_input(type="text", placeholder="Add your location", name="location")
            textarea.squared_input.bio_input(placeholder="Add a bio to your profile", name="bio")
            input.squared_input.spotify_input(type="text", placeholder="Spotify", name="spotify")
            input.squared_input.soundcloud_input(type="text", placeholder="Soundcloud", name="soundcloud")
            input.squared_input.facebook_input(type="text", placeholder="Facebook", name="facebook")
            button.button.save_button.no_shadow(data-profile="set-read-mode") Save







      .list_sessions
        .session.outline_box
          a.image(href="#", title="Old School House session", style="background-image:url(/images/profile_session_1.jpg)")
          .content
            h2.session_title 
              a(href="#", title="#{profile.live.title}") #{profile.live.title}
            a.session_author.underline_link(href="#", title="#{profile.live.author}") #{profile.live.author}
            .genres
              for genre in profile.live.genres
                a.tag(href="#", title="#{genre}") #{genre}

            .small_info
              .location 
                span.icon.ss-location
                //- span.spritesheet.icon_location
                span.text #{profile.live.location}
              .likes 
                span.icon.ss-heart
                //- span.spritesheet.icon_guests
                span.text #{profile.live.loves}
              .guests 
                span.icon.ss-users
                //- span.spritesheet.icon_plays
                span.text #{profile.live.guests}

            .live 
              p.label now live
              p.time 02:33


        .recorded_sessions
          .title
            h2 Recorded sessions
            .icon.ss-record-wrapper
              span.ss-record
            span.session_text #{profile.recorded.length}

            span.icon.ss-alert
            span.alert_text #{profile.free_storage} free storage remaining

          for room in profile.recorded
            .session.outline_box(id="session_recorded_#{room.id}", data-view="[components/user_set,components/audio/player_preview]", data-data="#{JSON.stringify(room)}")

              .image(style="background-image:url(/images/profile_session_1.jpg)")
                a.icon.ss-play.circle_icon(href="#",title="Play") 
                .share_wrapper(data-view="buttons/share", data-permalink="https://loopcast.com/stefanoortisi/set-1")
                  a.yellow.ss-action(href="#", title="Share")


              .content
                h2.session_title 
                  a(href="#", title="#{room.title}") #{room.title}
                a.session_author.underline_link(href="#", title="#{room.author}") #{room.author}
                .genres
                  for genre in room.genres
                    a.tag(href="#", title="#{genre}") #{genre}
                  
                .small_info
                  .location 
                    span.icon.ss-location
                    span.text #{room.location}
                  .likes 
                    span.icon.ss-heart
                    span.text #{room.loves}
                  .guests 
                    span.icon.ss-play
                    span.text #{room.guests}

                .edit_session_wrapper
                  a.icon.settings_button.ss-settings(href="#", title="Setting Session", data-view="components/click_trigger" data-target="#session_recorded_#{room.id} .edit_session_popup")
                  .edit_session_popup
                    .triangle
                    a.download_button.button.yellow_button.small_button_4(href="#", title="Download") Download
                    a.edit_button.button.yellow_button.small_button_4(href="#", title="Edit") Edit
                    a.delete_button.button.red_button.small_button_4(href="#", title="Delete") Delete

              .delete_screen
                .content
                  h2 Are you sure you want to delete this recording?
                  a.button.red_button.small_button_4.confirm_delete(href="#", title="Delete") Delete
                  a.button.white_button.small_button_4.cancel_delete(href="#", title="Cancel") Cancel


  include ./profile/room_modal.jade
