extends layout

block content
  if user
  
    h1 #{user.name}

    br
    br
      
    ul
      for genre in user.genres
        li #{genre}
    audio( controls autoplay src="http://radio.loopcast.fm:8000/#{user.id}" )

    if live
      br
      br
      
      h4 live

      h3 #{live.name}

    br
    br
      
    h4 recorded

    ul
      for room in user.recorded
        li 
          pre
            | title : #{room.title}
            | author: #{room.author}
            | ---
  else
    p User not logged