extends layout

block content
	.explore(data-menu="explore")
		.sub_header
			ul.centered
				li.selected
					p 
						span.spritesheet.rooms_icon
						span Rooms
				li
					a(href="/people" title="People")
						span.spritesheet.people_icon
						span People
				li
					a(href="#" title="Sets")
						span.spritesheet.sets_icon
						span Sets


		.explore_content.flex.centered(data-view="rooms")
			.flex_sidebar.genres_list
				a.selected(title="All genres", href="#", data-genre-id="all-genres") All genres
				each val, key in genres
					a(title="#{val}" href="#", data-genre-id="#{key}") #{val}


			.flex_content.rooms_grid

				for room in rooms

					- klasses = "item-all-genres"
					for g in room.genres
						- klasses += " item-" + g 

					.room_cell.item(class="#{klasses}")
						a(href="#{room.url}", title="#{room.title}", class="thumb_wrapper") 
							img.room_thumb(src="#{room.thumb}")
							span.spritesheet.room_play
						.room_content
							.text
								h2.room_title 
									a(href="#{room.url}", title="#{room.title}") #{room.title}
								a.room_subtitle.blue(title="#{room.author}", href="#{room.url}") #{room.author}
								.genres.small
									for g in room.genres
										a.tag(href="#", title="#{g}", data-genre-id="#{g}") #{genres[g]}

								p.room_location
									span.spritesheet.icon_location 
									| #{room.location}
								p.now_live Now Live

							a.enter_room(href="#{room.url}", class="button yellow_button no_shadow small_button small_button_2", title="Enter Room") Enter Room