extends layout

block content
  .explore(data-menu="explore", data-submenu="sub_header_sets")
    
    include ./shared/sub_header_explore.jade

    .explore_content.flex.centered(data-view="explore")
      .flex_sidebar.genres_list
        a.selected(title="All genres", href="#", data-genre-id="all-genres") All genres
        each val, key in genres
          a(title="#{val}" href="#", data-genre-id="#{key}") #{val}


      .flex_content.rooms_grid

        for item in sets

          - klasses = "item-all-genres"
          for g in item.genres
            - klasses += " item-" + g 

          .room_cell.item(class="#{klasses}")
            a(href="#{item.url}", title="#{item.title}", class="thumb_wrapper") 
              img.room_thumb(src="#{item.thumb}")
            .room_content
              .text
                h2.room_title 
                  a(href="#{item.url}", title="#{item.title}") #{item.title}
                a.room_subtitle.blue(title="#{item.author}", href="#{item.url}") #{item.author}
                .genres.small
                  for g in item.genres
                    a.tag(href="#", title="#{g}", data-genre-id="#{g}") #{genres[g]}

                .likes 
                  span.spritesheet.icon_likes_small
                  span.text #{item.loves}
                .plays
                  span.spritesheet.icon_plays_small
                  span.text #{item.plays}
                

              a.share_set.left.rounded_border(href="#", title="Share Set")
                span.spritesheet.icon_share
              a.like_set.right(href="#", title="Like Set")
                span.spritesheet.icon_like_transparent