.block(class="block_#{id} color_#{color}")
  .inner_block.left_channel(class="color_#{color}")
    .square
    .square
    .square
    .square
    .square
    .square
    .square
    .square
    .square
    .square
    .square
    .square
  p.value #{value}
  .inner_block.right_channel(class="color_#{color}")
    .square
    .square
    .square
    .square
    .square
    .square
    .square
    .square
    .square
    .square
    .square
    .square