.message
  a.img_wrapper_2(href="#{user.url}", title="#{user.name}")
    img(src="#{user.thumb}")
  .text
    h4.name
      a(href="#{user.url}", title="#{user.name}") #{user.name}
      span.time - 1 min ago

    p.content #{message}

  if user.author
    span.spritesheet.headphone