if !user
  extends ../layout
else
  block content
    div(data-view="components/redirect_hp")


  extends ../layout
  block seo
    if room
      title #{room.info.title} | #{user.info.name} | Live on Loopcast
      meta( name="description" content="Create room description" ) 
    else
      title Open Your Room and Start Streaming on Loopcast
      meta( name="description" content="Stream, record and save your DJ mixes instantly. Create your own room, interact with your audience and see who’s listening in real time." ) 


  block content
    input(type='hidden' id='owner_id' value="#{user._id}")
    input(type='hidden' id='owner_avatar' value="#{user.info.avatar}")
    input(type='hidden' id='owner_name' value="#{user.info.name}")
    input(type='hidden' id='owner_followers' value="0")
    input(type='hidden' id='owner_occupation' value="#{user.info.occupation[0]}")

    if room
      - data_menu = "room"
      //- used in by live/record buttons
      input(type='hidden' id='room_id' value=room._id)
    else
      - data_menu = "create_room"


    - live_class = ""
    if room && room.status.is_live
      - live_class = "room_live"

    - public_class = ""
    if room && room.status.is_public
      - public_class = "room_public"  
    .createroom.profile_theme.centered(data-menu="#{data_menu}", data-view="room", class="#{live_class} #{public_class}")
      .cover
        - cover_url = false
        if room
          - cover_url = room.info.cover_url

        .cover_image.for_desktop(style="background-image:url(#{transform.cover(cover_url)})")
        .cover_image.for_mobile(style="background-image:url(#{transform.cover_mobile(cover_url)})")
        
        .content
          h1.name.black_background(data-view="components/editables/editable_text")
            span.text
              if room
                | #{room.info.title}
          br
          h3.genres.black_background(data-view="room/popup_trigger")
            a(href="/#{user.info.username}", title="#{user.info.name}") #{user.info.name}

          .socials_room(data-view="components/room_social_links", data-links="#{user.info.social}")
          
          .profile_image.upload_wrapper
            img(src="#{transform.avatar(user.info.avatar)}")

          if room
            div.room_play_handler.for_mobile(data-room-id="#{room._id}", data-view="components/audio/player_preview")
              a.icon.ss-play.circle_icon(href="#",title="Play") 
              .loading_spin

          .change_cover.upload_wrapper(data-view="components/image_uploader", data-id="profile_cover")
            a.upload_element.button_with_icon.black_button(href="#")
              span.icon.ss-camera
              span Change Cover
              span.progress

            form(class="cloudinary_form")
              input.api_key(type="hidden", name="api_key", value="#{cloudinary.api_key}")
              input.cloud_name(type="hidden", name="cloud_name", value="#{cloudinary.cloud_name}")
              input.unsigned_id(type="hidden", name="unsigned_id", value="#{cloudinary.unsigned_ids.cover}")

          .sidebar_right
            .big_number
              .inner
                span.icon.for_mobile.ss-users
                if room
                  span.number #{room.status.live.listeners}
                else
                  span.number 0
                span.text Listeners

            .big_number
              .inner
                span.icon.for_mobile.ss-users
                if room
                  span.number #{room.likes}
                else
                  span.number 0
                span.text Favourites

            .big_number
              .inner
                span.icon.for_mobile.ss-users
                span.number 32
                span.text 
                  | Total 
                  br
                  | Visitors  

            .room_status
              .offair OFF AIR
              .live LIVE

      include ./dashboard.jade

      include ../chat/chat.jade    
      
      .modals
        include ../modals/room_modal.jade

        include ../modals/publish_modal.jade

        include ../modals/confirm_exit_modal.jade

      script
        //- THIS IS JUST FOR DEBUGGIN. TO BE REMOVED
        if room
          | var room_info = !{JSON.stringify(room)};;
          | console.log( 'room_info', room_info )
        if user
          | var user = !{JSON.stringify(user)};;
          | console.log( 'user_info', user )
