extends ../layout

block content
  input(type='hidden' id='owner_id' value="#{user.username}")

  if room
    - data_menu = "room"
    //- used in by live/record buttons
    input(type='hidden' id='room_id' value=room._id)
  else
    - data_menu = "create_room"

  .createroom.profile_theme.centered(data-menu="#{data_menu}", data-view="room")
    .cover
      if room && room.info.cover_url
        .cover_image(style="background-image:url(#{room.info.cover_url})")
      else
        .cover_image(style="background-image:url(/images/default_room_cover.jpg)")
      .content
        h1.name.black_background
          if room
            | #{room.info.title}
        br
        h3.genres.black_background #{user.name}

        .socials_room(data-view="components/room_social_links", data-links="#{user.social}")
        
        .profile_image.upload_wrapper
          img(src="#{user.avatar}")

        .sidebar_right
          .big_number
            .inner
              span.number 20
              span.text Listeners

          .big_number
            .inner
              span.number 4
              span.text Favourites

          .big_number
            .inner
              span.number 32
              span.text 
                | Total 
                br
                | Visitors  

    include ./dashboard.jade

    include ../chat/chat.jade    
      
    include ./room_modal.jade

    script
      //- TEMP
      if room
        | var room_info = !{JSON.stringify(room)};;
        | console.log( 'room_info', room_info )
      if user
        | var user = !{JSON.stringify(user)};;
        | console.log( 'user_info', user )