extends ../layout

block seo

  if room
    if room.status.is_live
      title #{room.info.title} | #{room.user.info.name} live on Loopcast
    else
      title #{room.info.title} | #{room.user.info.name} on Loopcast

    meta( name="description" content="Stream, record and save your DJ mixes instantly. Go live, interact with your audience and see who’s listening in real time." ) 

    - og_image = room.info.cover_url || "images/thumbnail.png"

    - about = room.user.info.about   || user.info.about

    meta( property="og:title"       content="#{room.info.title} | #{room.user.info.name}" )
    //- meta( property="og:type"        content="music.radio_station" )
    meta( property="og:type"        content="music.song" )
    meta( property="og:image"       content="#{s.base_path}/#{og_image}" )
    meta( property="og:url"         content="#{s.base_path}/#{room.user.info.username}/#{room.info.slug}" )
    //- meta( property="og:url"         content="https://rekorded-beta.s3.amazonaws.com/558ad1093e8a580300f6fcc2_2015-06-29_16-00.mp3" )
      
    meta( property="og:site_name"   content="Loopcast.fm" )
    if about
      meta( property="og:description" content="#{about}" )
    else
      meta( property="og:description" content="#{room.info.title} @ Loopcast.fm" )

    //- meta( property="music:creator"  content="#{s.base_path}/#{room.user.info.username}/" )

    //- only if the stream is live we have audio tags
    if room.info.url
      meta( property="og:audio"       content="#{room.info.url}" )
      //- meta( property="og:audio"       content="#{room.info.url}" )
      //- meta( property="og:audio"       content="https://rekorded-beta.s3.amazonaws.com/558ad1093e8a580300f6fcc2_2015-06-29_16-00.mp3" )
      //- meta( property="og:audio:secure_url"       content="https://rekorded-beta.s3.amazonaws.com/558ad1093e8a580300f6fcc2_2015-06-29_16-00.mp3" )
      //- meta( property="og:audio:url"   content="#{room.info.url}" )
      //- meta( property="og:audio:type"  content="audio/vnd.facebook.bridge" )
      //- meta( property="og:audio:type" content="application/mp3" )
      meta( property="og:audio:type" content="audio/mpeg" )


  else
    title Open Your Room and Start Streaming on Loopcast
    meta( name="description" content="Stream, record and save your DJ mixes instantly. Go live, interact with your audience and see who’s listening in real time." ) 


block content

  if !user && !room.user
    div(data-view="components/redirect_hp")
  else

    input(type='hidden' id='owner_id' value="#{user._id}")
    input(type='hidden' id='owner_avatar' value="#{user.info.avatar}")
    input(type='hidden' id='owner_name' value="#{user.info.name}")
    input(type='hidden' id='owner_followers' value="0")
    input(type='hidden' id='owner_occupation' value="#{user.info.occupation[0]}")

    if room
      - data_menu = "room"
      //- used in by live/record buttons
      input(type='hidden' id='room_id' value=room._id)
    else
      - data_menu = "create_room"


    - live_class = ""
    if room && room.status.is_live
      - live_class = "room_live"

    - recording_class = ""
    if room && room.status.is_recording
      - recording_class = "room_recording"

    - public_class = ""
    if room && room.status.is_public
      - public_class = "room_public"  
    .createroom.profile_theme.centered(data-menu="#{data_menu}", data-view="room", class="#{live_class} #{recording_class} #{public_class}")
      .cover
        - cover_url = false
        if room
          - cover_url = room.info.cover_url

        .cover_image.for_desktop(style="background-image:url(#{transform.cover(cover_url)})")
        .cover_image.for_mobile(style="background-image:url(#{transform.cover_mobile(cover_url)})")
        
        .content
          h1.name.black_background(data-view="components/editables/editable_text")
            span.text
              if room
                | #{room.info.title}
          br
          h3.genres.black_background(data-view="room/popup_trigger")
            a(href="/#{user.info.username}", title="#{user.info.name}") #{user.info.name}

          .socials_room(data-view="components/room_social_links", data-links="#{user.info.social}")
          
          .profile_image.upload_wrapper
            img(src="#{transform.avatar(user.info.avatar)}")

          if room
            div.room_play_handler.for_mobile(data-room-id="#{room._id}", data-view="components/audio/player_preview")
              a.icon.ss-play.circle_icon(href="#",title="Play") 
              .loading_spin

          .change_cover.upload_wrapper(data-view="components/image_uploader", data-id="profile_cover")
            a.upload_element.button_with_icon.black_button(href="#")
              span.icon.ss-camera
              span Change Cover
              span.progress

            form(class="cloudinary_form")
              input.api_key(type="hidden", name="api_key", value="#{cloudinary.api_key}")
              input.cloud_name(type="hidden", name="cloud_name", value="#{cloudinary.cloud_name}")
              input.unsigned_id(type="hidden", name="unsigned_id", value="#{cloudinary.unsigned_ids.cover}")

          .sidebar_right.not_loaded(data-view="room/sidebar_right")
            .big_number.stat_listeners
              .inner
                span.icon.spritesheet.for_mobile.mobile_headphones.room 
                span.number 0
                span.text Listeners

            .big_number.stat_likes
              .inner
                span.icon.for_mobile.ss-heart 
                span.number 0
                span.text Likes

            .big_number.stat_visits
              .inner
                span.icon.for_mobile.ss-users
                span.number 0
                span.text 
                  | Total 
                  br
                  | Visitors  

            .room_status
              .offair OFF AIR
              .live LIVE

      include ./dashboard.jade

      include ../chat/chat.jade    
      
      .modals
        include ../modals/room_modal.jade

        include ../modals/publish_modal.jade

        include ../modals/confirm_exit_modal.jade

      script
        //- THIS IS JUST FOR DEBUGGIN. TO BE REMOVED
        if room
          | var room_info = !{JSON.stringify(room)};;
          | console.log( 'room_info', room_info )
        if user
          | var user = !{JSON.stringify(user)};;
          | console.log( 'user_info', user )
