extends ../layout

block content
  input(type='hidden' id='owner_id' value="#{user.username}")

  if room
    - data_menu = "room"
    //- used in by live/record buttons
    input(type='hidden' id='room_id' value=room._id)
  else
    - data_menu = "create_room"


  - live_class = ""
  if room && room.status.is_live
    - live_class = "room_live"

  - public_class = ""
  if room && room.status.is_public
    - public_class = "room_public"  
  .createroom.profile_theme.centered(data-menu="#{data_menu}", data-view="room", class="#{live_class} #{public_class}")
    .cover
      if room
        .cover_image(style="background-image:url(#{room.info.images.cover})")
      else
        .cover_image(style="background-image:url(/images/default_room_cover.jpg)")
      .content
        h1.name.black_background(data-view="components/editables/editable_text")
          span.text
            if room
              | #{room.info.title}
        br
        h3.genres.black_background #{user.name}

        .socials_room(data-view="components/room_social_links", data-links="#{user.social}")
        
        .profile_image.upload_wrapper
          img(src="#{user.avatar}")

        .change_cover.upload_wrapper(data-view="components/image_uploader", data-id="profile_cover")
          a.upload_element.button_with_icon.black_button(href="#")
            span.icon.ss-camera
            span Change Cover
            span.progress

          form(class="cloudinary_form")
            input.api_key(type="hidden", name="api_key", value="#{cloudinary.api_key}")
            input.cloud_name(type="hidden", name="cloud_name", value="#{cloudinary.cloud_name}")
            input.unsigned_id(type="hidden", name="unsigned_id", value="#{cloudinary.unsigned_ids.cover}")

        .sidebar_right
          .big_number
            .inner
              if room
                span.number #{room.status.live.listeners}
              else
                span.number 0
              span.text Listeners

          .big_number
            .inner
              if room
                span.number #{room.status.loves}
              else
                span.number 0
              span.text Favourites

          .big_number
            .inner
              span.number 32
              span.text 
                | Total 
                br
                | Visitors  

          .room_status
            .offair OFF AIR
            .live LIVE

    include ./dashboard.jade

    include ../chat/chat.jade    
      
    include ./room_modal.jade

    include ./publish_modal.jade

    script
      //- THIS IS JUST FOR DEBUGGIN. TO BE REMOVED
      if room
        | var room_info = !{JSON.stringify(room)};;
        | console.log( 'room_info', room_info )
      if user
        | var user = !{JSON.stringify(user)};;
        | console.log( 'user_info', user )