block seo
  title #{tape.user.info.username} - #{tape.title} Recorded on Loopcast 
  meta( name="description" content="Stream, record and save your DJ mixes instantly. Go live, interact with your audience and see who’s listening in real time." )
  
  meta( property="og:title" content="#{tape.user.info.username} - #{tape.title} Recorded on Loopcast " )
  meta( property="og:description" content="Stream, record and save your DJ mixes instantly. Go live, interact with your audience and see who’s listening in real time." )
  
  meta( name="twitter:title" content="#{tape.user.info.username} - #{tape.title} Recorded on Loopcast")
  meta( name="twitter:description" content="Stream, record and save your DJ mixes instantly. Go live, interact with your audience and see who’s listening in real time.") 

  - og_image = tape.cover_url || tape.user.info.avatar
  if og_image
    - og_image = transform.cover( og_image )
    
    meta( property="og:image"  content="#{og_image}" )
    meta( name="twitter:image" content="#{og_image}")

  - description = "Stream, record and save your DJ mixes instantly. Go live, interact with your audience and see who’s listening in real time."

  meta( name="description" content=description ) 

  - about = tape.about || tape.user.info.about

  if about && about != ''
    meta( property="og:description" content="#{strip_tags(about)}" )
    meta( name="twitter:description" content="#{strip_tags(about)}")
  else
    meta( property="og:description" content=description )
    meta( name="twitter:description" content=description)

  meta( property="og:type"        content="music.song" )

extends ../layout

block content  
  - url         = "/"+ tape.user.info.username + "/r/" + tape.slug
  - sharing_url = url
  - tape.short_title = tape.title.length > 20 ? tape.title.substring(0,18) + '...' : tape.title;

  input(type='hidden' id='owner_id' value="#{tape.user._id}")

  div.tape_view.centered(data-view="room/tape_view", data-tape-id="#{tape._id}")
    .tape_header
      .cover_image.for_desktop(style="background-image:url(#{transform.cover(tape.cover_url)})")
      .cover_image.for_mobile(style="background-image:url(#{transform.cover_mobile(tape.cover_url)})")
      .first_line._overflow(data-view="components/audio/player_preview", data-room-id="#{tape._id}", data-is-live="", data-audio-url="#{tape.s3.location}")
        hidden( class="source_src" value="#{tape.s3.location}")
        

        .tape_info
          h1.black_background.tape_title 
            span.for_mobile #{tape.short_title}
            span.for_desktop #{tape.title}
          .tape_author_wrapper._overflow
            h3.black_background.tape_author(data-view="room/popup_trigger", data-user-id="#{tape.user._id}", data-position="down")
              a(href="/#{tape.user.info.username}") #{tape.user.info.name}
            br.for_mobile
            a(href="#", class="button grey_button small_button_2 follow_button", data-view="profile/follow_button", data-user-id="#{tape.user._id}" onClick="_gaq.push(['_trackEvent', 'Follow Message', 'Click', '']);") 
              span.follow Follow
              span.unfollow Unfollow

        a(href="#", class="tape_play icon ss-play", title="play record") &nbsp;

      .waveform_wrapper.for_desktop(data-view="components/audio/tape_progress", data-tape-id="#{tape._id}", data-source="#{tape.s3.location}")
        .inner
          .progress


    .tape_inner
      .main_column
        .first_line.padded
          .tags.for_desktop
            for item in tape.genres
              a.tag.tag_round(href="/explore?genres=#{item}") #{item}

          .buttons

            p.listen_counter
              span.icon.ss-play
              //-img(src="/images/tape-headphones.png")
              span.label #{tape.plays}

            p.like_counter(data-view="room/tape/like_button", data-tape-id="#{tape._id}")
              span.icon.ss-heart
              //-img(src="/images/tape-like.png")
              span.label #{tape.likes}

            p.upload_counter
              span.icon.ss-upload
              //-img(src="/images/tape-cloud.png")
              span.label(data-livestamp="#{tape.stopped_at}")

            a.edit_icon.for_owner(href="#", data-view="room/tape/edit_modal_opener", data-id="#{tape._id}")
              span.icon.ss-write


            a.share_icon.share_wrapper(
              data-view="buttons/share", 
              data-title="#{tape.title}",
              data-summary="#{tape.about}",
              data-permalink="#{sharing_url}",
              data-image="#{tape.cover_url}"
              href="#"
            )
              span.icon.ss-action
              //-img(src="/images/tape-share.png")

            a.custom-fb-send.for_desktop(href="#" onClick="mixpanel.track('Share-room');", data-text="Send your room link to friends", data-view="components/sharing/facebook_send")
              img(src="/images/fb_send.png")

          .tags.for_mobile
            for item in tape.genres
              a.tag(href="/explore?genres=#{item}") #{item}


        .tape_description.padded.collapsable_wrapper(data-view="chat/collapsable_content")
          .inner
            p#description_room.editable_description.collapsable_content
              span.text #{tape.about}
            p.read_more 
              span.more Read More
              span.less Show Less

        div.post_comment_wrapper.chat_line.padded(data-view="room/tape/textarea", data-tape-id="#{tape._id}")
          a.chat_user_thumb(href="#", data-view="room/tape/my_profile_image")
            img(src="/images/profile-36.jpg", width="50")

          textarea.chat_user_text(placeholder="Type here to add comment...")
          a.tape_brown_button.gray_button_2.button.small_button_4.post_comment(href="#") Post Comment


        .chat_list_messages(data-view="room/tape/messages", data-tape-id="#{tape._id}")
         
      - klass =  favourited_by.length > 0 ? "favourited" : ""
      .side_column(data-view="room/tape/sidebar", class="#{klass}")
        
        .list_users(data-view="room/tape/list_favourites")
          .with_favourites
            h3 
              | FAVOURITED BY  
              span.number #{favourited_by.length}

            .list_likes
              for like in favourited_by
                a.chat_user_thumb(href="/#{like.user_id.info.username}", data-username="#{like.user_id.info.username}", data-user-id="#{like.user_id._id}")
                  img(src="#{like.user_id.info.avatar}")
  
          .no_favourites
            p Click the heart and be the first to favourite this mix
            p.like_counter(data-view="room/tape/like_button", data-tape-id="#{tape._id}")
              span.icon.ss-heart
              span.label #{tape.likes}

    .chat_user_popup(data-view="chat/people_popup")
      ._outer
        .outer_inner
        a.follow_button(class="button yellow_button small_button_4 popup_follow_button", href="#",  data-view="profile/follow_button", data-user-id="#{tape.user._id}") Follow

  include ./../modals/room_modal.jade

  script
    | var info = !{JSON.stringify(locals)};;
    | console.log( 'info', info ); 